*.pyc
*.log                                                                                                                                                                                  
*.pot
local_settings.py
try_*
/.*
*.DS_Store
*bundle.js*
._*.*
testnames
/ENV
