
{% load i18n %}

<footer>
<div class="container">
  <div class="row">
    <div class="span7">
      <h3 class="footer-title">Subscribe</h3>
      <p>Keeping publishers in check.
      </p>

      <p class="pvl">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;HTML User Interface Kit" data-via="designmodo" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </p>
    </div> <!-- /span8 -->

    <div class="span5">
      <div class="footer-banner">
        <h3 class="footer-title">Grammer Comrade</h3>
        <ul>
          <li>Spelling</li>
          <li>Grammer</li>
          <li>Errors</li>
          <li>Etc.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
